body {
    background-size: cover;
    height: 100vh;
    background-image: url(https://search.pstatic.net/common/?src=http%3A%2F%2Fimgnews.naver.net%2Fimage%2F5119%2F2023%2F09%2F04%2F0000892495_001_20230904070201243.jpg&type=sc960_832);
}

.container {
    border: 1px solid white;
    border-radius: 20px;
    text-align: center;
    background-color: rgba(247, 243, 242, 0.3);
}

.button-style {
    height: 80px;
    width: 100px;
    margin-top: 5px;
    border-radius: 50px;
    font-size: 20pt;
    font-weight: bold;
}
